.canChart{
	position:absolute;
	top:10%;
	left:13%;
	width: 100%;
	height: 86%;
	overflow-y: scroll;
	overflow-x:hidden;
}
#myChart{
	position:absolute;
	left:1%;
	width: 100%;
}
.line1{
	position:absolute;
	width:100%;
	top:530px;
	left:40%;
}
.hr{
	position:absolute;
	top:545px;
	width:100%;
}
.region{
	position:absolute;
	top:590px;
	width:100%;
	
}
.line2{
	position:absolute;
	width:100%;
	height:50px;
	top:1100px;
	left:40%;
}
#link1,#link2{
	cursor:pointer;
}
