<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1" />
<title>企业OA系统</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="layui/css/layui.css" />
<link rel="stylesheet" href="styles/index.css" />
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/index.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="layui/layui.js"></script>
</head>
<body class="layui-layout-body">
	<div class="com"></div>
	<div class="canChart">
		<canvas id="MyChart1" width="1300px" height="500px"></canvas>
		<div class="line1">
			<span>关于考勤统计</span> <a id="link1" download="ChartPng.png">保存为png</a>
		</div>
		<hr class="hr" />
		<div class="region">
			<canvas id="MyChart2" width="1300px" height="500px"></canvas>
		</div>
		<div class="line2">
			<span>关于出勤统计</span> <a id="link2" download="ChartPng.png">保存为png</a>
		</div>
	</div>
</body>
</html>
