<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta name="viewport"
	content="width = device-width, initial-scale = 1.0, user-scalable = 1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="layui/css/layui.css" />
<link rel="stylesheet" href="styles/login.css" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<script src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/login.js"></script>
<script type="text/javascript" src="scripts/path.js"></script>
<script type="text/javascript" src="scripts/cookies.js"></script>
<script src="layui/layui.js"></script>
</head>
<body>
	<div class="global">
		<form class="layui-form">
			<div class="log log_in" tabindex='-1' id='dl'>
				<dl>
					<dt>
						<div class='header'>
							<h3>登&nbsp;录</h3>
						</div>
					</dt>
					
					<dt>
						<div class='letter'>
							用户名:&nbsp;<input type="text" name="username" id="count"
								tabindex='1' />
						</div>
					</dt>
					<dt>
						<div class='letter'>
							密&nbsp;&nbsp;&nbsp;码:&nbsp;<input type="password" name="pass"
								id="password" tabindex='2' />
						</div>
					</dt>
					<dt>
						<div class="layui-form-item" pane="">
							<div class="rebPass">
								<label class="layui-form-label">记住密码</label>
							</div>
							<div class="layui-input-block">
								<input type="checkbox" name="loginStatus" lay-skin="primary" class="loginStatus">
							</div>
						</div>
					</dt>
					<dt>
						<div>
							<input type="submit" name="" id="login"
								value='&nbsp;登&nbsp;录&nbsp;' tabindex='3' />
						</div>
					</dt>
				</dl>
			</div>
		</form>
	</div>
</body>
</html>